*.gem
*.rbc
.bundle
.config
.ruby-version
.ruby-gemset
Gemfile.lock
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
.byebug_history
